{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    {% if user and user.is_authenticated and notes %}
    <div class="notes row justify-content-center p-2">
        {% for note in notes %}
        <div class="card col-sm-5 col-md-3 m-1">
            <h5 class="card-title text-center">{{ note.title }}</h5>
            <div class="card-body text-break">
                {% if note.text|length > 100 %}
                    {{ note.text[0:100] }}...
                {% else %}
                    {{ note.text }}
                {% endif %}
            </div>
            <div class="card-links">
                <a href="{{ url_for('main.note_page', note_id=note.id) }}" class="card-link">Open</a>
                <a href="{{ url_for('main.remove_note', note_id=note.id) }}" class="card-link">Remove</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}